.main-container {
  display: flex;
}

ul {
  list-style: none;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-card {
  border-style: solid;
  border-color: black;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border-radius: 2%;
  box-shadow: 10px 10px;

}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 8rem;
}

.product-grid {
  width: 70%;
}

.basket{
  width: 25%;
  padding: 1%;
  margin-top: 30px;
  margin-left: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 1vw;
  box-shadow: 10px 10px;
}

.hidden {
  display: none;
}

.welcome {
  text-align: center;
  font-size: xx-large;
}
