.main-container {
  display: flex;
}

ul {
  list-style: none;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-card {
  border-style: double;
  border-color: black;
  width: 20%;
  margin: 1%;
  padding: 1%;

}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 8rem;
}

.product-grid {
  width: 70%;
}

.basket{
  width: 30%;
}

.hidden {
  display: none;
}
